##############################################
# SELECT THE NEXT PROCESSING BRANCH #
record(calc, "$(SYS):SPC2BAS-SEL-STAGE") {
  field(DESC, "Select processing branch")
  field(SCAN, "$(SCAN)") # THIS RECORD INIT PROCESSING
  field(CALC, "!A?B?$(CLR):$(NCLR):$(PNK)")
##IF BUTTON 44 IS STILL PRESSED PNK IS ACTIVE##
  field(INPA, "$(SYS):SPC2BAS-PNK.VAL") # we intend the state of this record when leaving cleared state: old state
  field(INPB, "$(SYS):SPC2BAS-CLR NPP")
  field(FLNK, "$(SYS):SPC2BAS-PROC-STAGE")
}
## THIS RECORDS PROPAGATE PROCESSING ##
record(fanout, "$(SYS):SPC2BAS-PROC-STAGE") {
  field(SCAN, "Passive")
  field(SELM, "Specified")
  field(SELL, "$(SYS):SPC2BAS-SEL-STAGE")
  field(LNK1, "$(SYS):SPC2BAS-VC PP")
  field(LNK2, "$(SYS):SPC2BAS-VNC PP")
  field(LNK3, "$(SYS):SPC2BAS-PNK PP")
}
##################################################################################
# monitor status of inputs which may cause clearance faillure
# SIGNAL TO SYS: SPC2BAS-VC?SPC2BAS-SNC-CLR && (HARDWARE STATUS RECORDS):FALSE
record(calcout, "$(SYS):SPC2BAS-VC") { 
  field(DESC, "SPC2BAS Vault clear stage")
  field(SCAN, "Passive")
  field(PINI, "YES")
  field(CALC, "!A?B?$(SPC2BASPNK):$(STOK):A")
  field(INPA, "$(SYS):SPC2BAS-FAIL-COND.VAL PP")
  field(INPB, "$(SYS):SPC2BAS-PNK.VAL PP")
  field(OUT,  "$(SYS):RST-SPC2BAS.PROC PP")
  field(OOPT, "When Non-zero")
  #field(VAL, "1")# init to 1 : vault not cleared
}
######################################
# RESET VAULT #
record(seq, "$(SYS):RST-SPC2BAS") { # HANDLE BY SEQ
  field(SCAN, "Passive")
  field(PINI, "YES") # init status of outputs
  field(DOL1, "0")
  field(DOL2, "0")
  field(DOL3, "0")
  field(DOL4, "0")
  field(DOL5, "0")
  field(DOL6, "0")
  field(DOL7, "0")
  field(LNK1, "$(SYS):CS14-SPC2 PP")
  field(LNK2, "$(SYS):CL14-SPC2 PP")
  field(LNK3, "$(SYS):SPC2BAS-CLR PP")
  field(LNK4, "$(SYS):LED-WS-SPC2-44 PP")
  field(LNK5, "$(SYS):LED-WS-SPC2-45 PP")
  field(LNK6, "$(SYS):SPC2BAS-COUNTER PP")
  field(LNK7, "$(SYS):WATCHMAN-SPC2-44-ACT PP")
  field(SELM, "All")
}
###################################################################################
#CLEARANCE UNDERWAY FAIL CONDITIONS
#IF VAULT IS CLEARED AND GATE G6 OPENED: FAILLURE
#OTHERWISE CLEARANCE UNDERWAY DOOR WILL NEED TO CLOSE
# AT BOOT INIT IS 0(VAULT NOT INIT): THUS WE TEST FOR !INIT AND SET IT TO ONE AFTER RESETTING OUTPUTS
record(calcout, "$(SYS):SPC2BAS-FAIL-COND") {
  field(SCAN, "Passive")
  field(PINI, "YES")
  field(CALC, "!A?B&&C?$(G6ON):!D?$(STOK):$(TOUT):$(DA007ON)")
  field(INPA, "$(SYS):SPC2-DA007-CLSD PP") 
  field(INPB, "$(SYS):SPC2BAS-CLR PP")
  field(INPC, "$(SYS):SW-I-SPC2-G6.VAL")
  field(INPD, "$(SYS):SPC2BAS-TIMEOUT NPP")
  field(OUT,  "$(SYS):RST-SPC2BAS.PROC PP")
  field(OOPT, "Transition To Non-zero") # STOP THIS RECORD TO KEEP RESETTING SHARED OUTPUT AFTER INIT 
}
#######################################################################################
record(calc, "$(SYS):SPC2BAS-VNC") {
  field(SCAN, "Passive")
  field(PINI, "YES")
  field(CALC, "!A?$(STOK):A")
  field(INPA, "$(SYS):SPC2-W44-STS PP")
}
###############################################################
# ONLY CHNAGE OUTS STATE WHEN B44 IS PRESSED WHILE ROOF
# G6 ARE CLOSED: THIS ENSURE WE DONT UNECCESSARLY WRITE TO OUTS
# WHEN ON IS RETURNED THIS MEANS THAT NO VAULT CLEARANCE WAS STARTED AFTER INIT: VAULT WAITING FOR CLEARANCE
# WHEN STOK IS RETURNED VAULT CLEARANCE STAGE 1 IS UNDERWAY

record(calcout, "$(SYS):SPC2-W44-STS") {
  field(SCAN, "Passive")
  field(PINI, "YES")
  field(CALC, "!A?!B?!C?$(STOK):$(B44ON):!C?$(WFVC):D:A")
  field(INPA, "$(SYS):SPC2BAS-FAIL-COND PP")
  field(INPB, "$(SYS):WS-BUT-SPC2-44 NPP")
  field(INPC, "$(SYS):WATCHMAN-SPC2-44-ACT NPP")
  field(INPD, "$(SYS):SPC2-W45-STS PP")
  field(OUT,  "$(SYS):SPC2W44-WRT-OUTS.PROC PP")
  field(OOPT, "Transition To Zero") 
}
###########################################
# STAGE 1 OUTPUTS STATUS  #
record(seq, "$(SYS):SPC2W44-WRT-OUTS") { # HANDLE BY SEQ
  field(DOL1, "1")
  field(DOL2, "1")
  field(DOL3, "1")
  field(DOL4, "0")
  field(DOL5, "1")
  field(DOL6, "0")
  field(LNK1, "$(SYS):CS14-SPC2 PP")
  field(LNK2, "$(SYS):CL14-SPC2 PP")
  field(LNK3, "$(SYS):LED-WS-SPC2-44 PP")
  field(LNK4, "$(SYS):SPC2BAS-COUNTER PP")
  field(LNK5, "$(SYS):WATCHMAN-SPC2-44-ACT PP")
  field(LNK6, "$(SYS):SPC2BAS-VC.VAL ") # RESET ANY PREVIOUS FAIL CONDITIONS
  field(SCAN, "Passive")
  field(SELM, "All")
}

################################################
# monitor status of inputs and set output in stage 2
## IF WATCHMAN 44 RELEASE CONTINUE CLEARANCE
## WE TEST THIS IN "SPC2-WATCH-44-RLSD" RECORD
record(calcout, "$(SYS):SPC2-W45-STS") {
  field(SCAN, "Passive")
  field(PINI, "YES")
  field(CALC, "!A?!B?C&&!D?$(STOK):$(B45OFF):$(G6OFF):A")
  field(INPA, "$(SYS):SPC2BAS-FAIL-COND PP")
  field(INPB, "$(SYS):SW-I-SPC2-G6 NPP")
  field(INPC, "$(SYS):SPC2-WATCH-44-RLSD.VAL PP")
  field(INPD, "$(SYS):WS-BUT-SPC2-45 NPP")
  field(OUT,  "$(SYS):SPC2W45-WRT-OUTS.PROC PP")
  field(OOPT, "Transition To Zero") 
}
################################################ 
# STAGE 2 OUTPUTS STATUS  #
# THIS RECORDS IS PROCESSED ONLY WHEN SPC2BAS-W45-STS RETRUN 0
record(seq, "$(SYS):SPC2W45-WRT-OUTS") {
  field(SELM, "All")
  field(DOL1, "1")
  field(DOL2, "1")
  field(DOL3, "1")
  field(DOL3, "1")
  field(DLY2, "0.02")
  field(LNK1, "$(SYS):RST-SPC2BAS.PROC PP")
  field(LNK2, "$(SYS):SPC2BAS-CLR.VAL PP")
  field(LNK3, "$(SYS):LED-WS-SPC2-45.VAL PP")
  field(SCAN, "Passive")
}
########################################
# DOOR A007 CLOSED #
record(calc, "$(SYS):SPC2-DA007-CLSD") {
  field(CALC, "!A&&!B?$(STOK):$(ON)")
  field(INPA, "$(SYS):SW-I-SPC2-A007.VAL")
  field(INPB, "$(SYS):SW-II-SPC2-A007.VAL")
}
###########################################
# WATCHMAN 44 RELEASE #
record(calc, "$(SYS):SPC2-WATCH-44-RLSD") {
  field(CALC, "A&&B?$(ON):$(STOK)")
  field(INPA, "$(SYS):WS-BUT-SPC2-44.VAL")
  field(INPB, "$(SYS):WATCHMAN-SPC2-44-ACT.VAL")
}
########################################
# TIMER PROCEDURE #
record(calc, "$(SYS):SPC2BAS-COUNTER") {
  field(SCAN, "Passive")
  field(CALC, "B?A+1:0")
  field(INPA, "$(SYS):SPC2BAS-COUNTER.VAL")
  field(INPB, "$(SYS):WATCHMAN-SPC2-44-ACT.VAL")
}
record(calc, "$(SYS):SPC2BAS-TIMEOUT") {
  field(SCAN, "1 second")
  field(CALC, "A>=$(SPC2BASTOUT)?$(ON):$(STOK)")
  field(INPA, "$(SYS):SPC2BAS-COUNTER.VAL PP")
}

###########################################
# RECOVER FROM PANIQUE #
record(calc, "$(SYS):SPC2BAS-PNK") {
  field(CALC, "!A?$(ON):$(STOK)")
  field(INPA, "$(SYS):WS-BUT-SPC2-44 NPP")
  field(VAL, "0")
}

###########################################################
# OUTPUTS #
record(bo, "$(SYS):SPC2BAS-CLR") {
  field(SCAN, "Passive")
  field(ZNAM, "OFF")#
  field(ONAM, "ON")
}

record(stringout, "$(SYS):SPC2BAS-CLR-STATS") {
  field(SCAN, "Passive")
  field(OMSL, "supervisory")
}

record(stringout, "$(SYS):SPC2BAS-INTLCK-STATS") {
  field(SCAN, "Passive")
  field(OMSL, "supervisory")
}
#############################################
# INPUTS #
# INIT THIS RECORD TO FALSE #
record(bo, "$(SYS):WATCHMAN-SPC2-44-ACT") {
  field(SCAN, "Passive")
  field(PINI, "YES")
  field(ZNAM, "OFF")
  field(ONAM, "ON")
  field(VAL, "0")
}
