
record(calcout, "$(SYS):SPC1BAS-FAIL-COND") {
  field(SCAN, ".1 second")
  field(PINI, "YES")
  field(CALC, "0")
  field(INPA, "$(SYS):SPC1-DA001-CLSD PP") 
  field(OOPT, "Transition To Non-zero") # STOP THIS RECORD TO KEEP RESETTING SHARED OUTPUT AFTER INIT 
}
####################################################
# DOOR A001 CLOSED #
record(calc, "$(SYS):SPC1-DA001-CLSD") {
  field(SCAN, "Passive")
  field(CALC, "!A&&!B?$(STOK):$(ON)")
  field(INPA, "$(SYS):SW-I-SPC1-A001.VAL")
  field(INPB, "$(SYS):SW-II-SPC1-A001.VAL")
}

# DOOR A005 CLOSED #
record(calc, "$(SYS):SPC1-DA005-CLSD") {
  field(SCAN, "Passive")
  field(CALC, "!A&&!B?$(STOK):$(ON)")
  field(INPA, "$(SYS):SW-I-SPC1-A005.VAL")
  field(INPB, "$(SYS):SW-II-SPC1-A005.VAL")
}

# DOOR A005A CLOSED #
record(calc, "$(SYS):SPC1-DA005A-CLSD") {
  field(SCAN, "Passive")
  field(CALC, "!A&&!B?$(STOK):$(ON)")
  field(INPA, "$(SYS):SW-I-SPC1-A005A.VAL")
  field(INPB, "$(SYS):SW-II-SPC1-A005A.VAL")
}

