################################################################
## SELECT THE NEXT PROCESSING BRANCH
record(calc, "$(SYS):SPC1GF-SEL-STAGE") {
  field(DESC, "Select processing branch")
  field(SCAN, "$(SCAN)") # THIS RECORD INIT PROCESSING
  field(CALC, "!A?B?$(CLR):$(NCLR):$(PNK)")
  field(INPA, "$(SYS):SPC1GF-PNK")
  field(INPB, "$(SYS):SPC1GF-CLR")
  field(FLNK, "$(SYS):SPC1GF-PROC-STAGE")
}
## THIS RECORDS PROPAGATE PROCESSING ##
record(fanout, "$(SYS):SPC1GF-PROC-STAGE") {
  field(SCAN, "Passive")
  field(SELM, "Specified")
  field(SELL, "$(SYS):SPC1GF-SEL-STAGE")
  field(LNK1, "$(SYS):SPC1GF-VC")
  field(LNK2, "$(SYS):SPC1GF-VNC")
  field(LNK3, "$(SYS):SPC1GF-PNK")
}
##################################################################################
# monitor status of inputs which may cause clearance faillure
# SIGNAL TO SYS: SPC1GF-VC?SPC1GF-CLR && (HARDWARE STATUS RECORDS):FALSE
record(calcout, "$(SYS):SPC1GF-VC") { 
  field(DESC, "SPC1GF Vault clear stage")
  field(SCAN, "Passive")
  field(PINI, "YES")
  field(CALC, "!A?B?$(SPC1GFPNK):$(STOK):A")
  field(INPA, "$(SYS):SPC1GF-FAIL-COND PP") 
  field(INPB, "$(SYS):SPC1GF-PNK PP")
  field(OUT,  "$(SYS):RST-SPC1GF.PROC PP")
  field(OOPT, "When Non-zero")
}

###################################################################################
#CLEARANCE UNDERWAY FAIL CONDITIONS
record(calcout, "$(SYS):SPC1GF-FAIL-COND") {
  field(SCAN, "Passive")
  field(PINI, "YES")
  field(CALC, "!A?!B?C&&D?$(G7ON):!E?$(STOK):$(TOUT):$(DA2ON):$(RA2ON)")
  field(INPA, "$(SYS):SW-RF-A2.VAL NPP") 
  field(INPB, "$(SYS):SPC1-DA2-CLSD PP") 
  field(INPC, "$(SYS):SPC1GF-CLR NPP")
  field(INPD, "$(SYS):SW-G7-A2 NPP")
  field(INPE, "$(SYS):SPC1GF-TIMEOUT NPP") 
  field(OUT,  "$(SYS):RST-SPC1GF PP")
  field(OOPT, "Transition To Non-zero")
}

########################################
## RESET VAULT
record(seq, "$(SYS):RST-SPC1GF") { # HANDLE BY SEQ
  field(SCAN, "Passive")
  field(PINI, "YES") # init status of outputs
  field(DOL1, "0")
  field(DOL2, "0")
  field(DOL3, "0")
  field(DOL4, "0")
  field(DOL5, "0")
  field(DOL6, "0")
  field(DOL7, "0")
  field(LNK1, "$(SYS):CS1-SPC1 PP")
  field(LNK2, "$(SYS):CL1-SPC1 PP")
  field(LNK3, "$(SYS):SPC1GF-CLR PP")
  field(LNK4, "$(SYS):LED-WS-SPC1-40 PP")
  field(LNK5, "$(SYS):LED-WS-SPC1-41 PP")
  field(LNK6, "$(SYS):SPC1GF-COUNTER PP")
  field(LNK7, "$(SYS):WATCHMAN-SPC1-40-ACT PP")
  field(SELM, "All")
}

#######################################################################################
record(calc, "$(SYS):SPC1GF-VNC") {
  field(SCAN, "Passive")
  field(PINI, "YES")
  field(CALC, "!A?$(STOK):A")
  field(INPA, "$(SYS):SPC1-W40-STS.VAL PP")
}

########################################################################
# ONLY CHNAGE OUTS STATE WHEN B40 IS PRESSED WHILE ROOF
# A2 AND DOOR A2 ARE CLOSED: THIS ENSURE WE DONT UNECCESSARLY WRITE TO OUTS
record(calcout, "$(SYS):SPC1-W40-STS") {
  field(DESC, "Vault clearance stage 1")
  field(SCAN, "Passive")
  field(PINI, "YES")
  field(CALC, "!A?!B?!C?$(STOK):$(B40ON):!C?$(WFVC):D:A")
  field(INPA, "$(SYS):SPC1GF-FAIL-COND.VAL PP") 
  field(INPB, "$(SYS):WS-BUT-SPC1-40.VAL")
  field(INPC, "$(SYS):WATCHMAN-SPC1-40-ACT.VAL")
  field(INPD, "$(SYS):SPC1-W41-STS PP")
  field(OUT,  "$(SYS):SPC1W40-WRT-OUTS.PROC PP")
  field(OOPT, "Transition To Zero")
}
########################################################################
record(seq, "$(SYS):SPC1W40-WRT-OUTS") { # MAY BE HANDLED BY SEQ
  field(DOL1, "1")
  field(DOL2, "1")
  field(DOL3, "1")
  field(DOL4, "0")
  field(DOL5, "1")
  field(DOL6, "0")
  field(LNK1, "$(SYS):CS1-SPC1 PP")
  field(LNK2, "$(SYS):CL1-SPC1 PP")
  field(LNK3, "$(SYS):LED-WS-SPC1-40 PP")
  field(LNK4, "$(SYS):SPC1GF-COUNTER PP")
  field(LNK5, "$(SYS):WATCHMAN-SPC1-40-ACT PP")
  field(LNK6, "$(SYS):SPC1GF-VC.VAL NPP") # RESET ANY PREVIOUS FAIL CONDITIONS
  field(SCAN, "Passive")
  field(SELM, "All")
}

##########################################################################

record(calcout, "$(SYS):SPC1-W41-STS") {
  field(DESC, "Vault clearance stage 3")
  field(SCAN, "Passive")
  field(PINI, "YES")
  field(CALC, "!A?!B?C&&!D?$(STOK):$(B41OFF):$(G7OFF):A")
  field(INPA, "$(SYS):SPC1GF-FAIL-COND PP")
  field(INPB, "$(SYS):SW-G7-A2 NPP")
  field(INPC, "$(SYS):SPC1-WATCH-40-RLSD PP")	
  field(INPD, "$(SYS):WS-BUT-SPC1-41")
  field(OUT,  "$(SYS):SPC1W41-WRT-OUTS.PROC PP")
  field(OOPT, "Transition To Zero") 
}
# THIS RECORDS IS PROCESSED ONLY WHEN SPC1-W41-STS RETRUN 0
# THAT IS SPC1GF INTERLOCKS ARE CORRECT IN SPC1-W41-STS
record(seq, "$(SYS):SPC1W41-WRT-OUTS") {
  field(SELM, "All")
  field(DOL1, "1")
  field(DOL2, "1")
  field(DOL3, "1")
  field(DOL3, "1")
  field(DLY2, "0.02")
  field(LNK1, "$(SYS):RST-SPC1GF.PROC PP")
  field(LNK2, "$(SYS):SPC1GF-CLR.VAL PP")
  field(LNK3, "$(SYS):LED-WS-SPC1-41.VAL PP")
  field(SCAN, "Passive")
}
##########################################################################
# WATCHMAN 40 RELEASED
record(calc, "$(SYS):SPC1-WATCH-40-RLSD") {
  field(CALC, "A&&B?$(ON):$(STOK)")
  field(INPA, "$(SYS):WS-BUT-SPC1-40.VAL")
  field(INPB, "$(SYS):WATCHMAN-SPC1-40-ACT.VAL")
}

#######################################################################
#  RECOVER FROM PANIQUE 
record(calc, "$(SYS):SPC1GF-PNK") {
  field(SCAN, "Passive")
  field(PINI, "YES")
  field(CALC, "!A?$(ON):$(STOK)")
  field(INPA, "$(SYS):WS-BUT-SPC1-40.VAL")
  field(VAL, "0")
}
#####################################################################
# DOOR A2 CLOSED
record(calc, "$(SYS):SPC1-DA2-CLSD") {
  field(CALC, "!A&&!B?$(STOK):$(ON)")
  field(INPA, "$(SYS):SW-I-SPC1-A2.VAL")
  field(INPB, "$(SYS):SW-II-SPC1-A2.VAL")
}
##################################################################
# TIMER PROCEDURE
record(calc, "$(SYS):SPC1GF-COUNTER") {
  field(SCAN, "Passive")
  field(CALC, "B?A+1:0")
  field(INPA, "$(SYS):SPC1GF-COUNTER.VAL")
  field(INPB, "$(SYS):WATCHMAN-SPC1-40-ACT.VAL")
}
record(calc, "$(SYS):SPC1GF-TIMEOUT") {
  field(SCAN, "1 second")
  field(CALC, "A>=$(SPC1GFTOUT)?$(ON):$(STOK)")
  field(INPA, "$(SYS):SPC1GF-COUNTER.VAL PP")
}
########################### Outputs ##################################
record(bo, "$(SYS):SPC1GF-CLR") {
  field(SCAN, "Passive")
  field(ZNAM, "OFF")
  field(ONAM, "ON")
}

record(stringout, "$(SYS):SPC1GF-CLR-STATS") {
  field(SCAN, "Passive")
  field(OMSL, "supervisory")
}

record(stringout, "$(SYS):SPC1GF-INTLCK-STATS") {
  field(SCAN, "Passive")
  field(OMSL, "supervisory")
}
################ INPUTS ###############################
########  INIT THIS RECORD TO FALSE ######
record(bo, "$(SYS):WATCHMAN-SPC1-40-ACT") {
  field(SCAN, "Passive")
  field(PINI, "YES")
  field(ZNAM, "OFF")
  field(ONAM, "ON")
  field(VAL, "0")
}
